.my-account {
  padding: 100px 0;
  p,
  a,
  strong,
  address {
    font-size: 1.2rem;
  }

  .woocommerce button.button {
    @extend .primary-btn;
    margin-top: 20px;
  }

  .woocommerce a.edit {
    @extend .primary-btn;
    @extend .primary-btn--simple;
  }

  .woocommerce a.view {
    @extend .primary-btn--simple;
    @extend .primary-btn;
  }

  // login
  .woocommerce-form-login,
  .woocommerce-form-register {
    background-color: white;
    -webkit-appearance: none;
    box-shadow: 0px 0px 6px -2px rgba(0, 0, 0, 0.3);
    border: none !important;
    border-radius: 10px;
  }

  .woocommerce form.login,
  .woocommerce form.register {
    padding: 50px;

    @media (min-width: 786px) {
      padding: 80px;
      margin-right: 30px;
    }
    @media (min-width: 1200px) {
      padding: 80px 100px;
    }
  }

  .woocommerce-form-login p,
  .woocommerce-form-register p,
  .woocommerce-address-fields p {
    display: flex;
    flex-direction: column;
  }

  .woocommerce-form-login label,
  .woocommerce-form-row label,
  .woocommerce-address-fields label {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .woocommerce-form-login input,
  .woocommerce-form-row input,
  .woocommerce-address-fields input,
  .woocommerce-address-fields select,
  .woocommerce-address-fields .selection .select2-selection {
    -webkit-appearance: none;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    font-weight: 600;
    box-shadow: 0px 0px 6px -2px rgba(0, 0, 0, 0.3) !important;
    border: none !important;
  }

  .woocommerce-address-fields input::placeholder {
    color: white;
  }

  .woocommerce-address-fields .selection .select2-selection {
    height: 50px;
  }
  .woocommerce .woocommerce-MyAccount-navigation-link {
    padding: 10px;
  }

  .woocommerce-form-login__submit,
  .woocommerce-address-fields .button {
    @extend .primary-btn;
    margin-right: 0 !important;
  }

  .woocommerce-form-row button {
    @extend .primary-btn;
  }

  .woocommerce-privacy-policy-text p {
    display: inline-block !important;
  }

  .woocommerce-privacy-policy-link {
    font-weight: 600;
    font-size: 1.2rem;
    border-bottom: 1px solid $color__company-primary;
  }

  //Password change
  fieldset {
    margin-top: 50px;
    border-radius: 10px !important;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 3px 6px rgba(4, 0, 61, 0.1);
    -webkit-appearance: none;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
    legend {
      text-transform: uppercase;
      font-size: 1.2rem;
    }
    span {
      width: 100%;
    }
  }
}

.woocommerce .woocommerce-notices-wrapper h2 {
  font-size: 3rem;
}

.woocommerce .woocommerce-notices-wrapper li::before {
  content: none;
}

.woocommerce .woocommerce-error::before {
  left: 0;
  top: 1rem;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul {
  padding-left: 0;
  text-transform: uppercase;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul li::before {
  display: none;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul li.is-active {
  font-weight: 600 !important;
}
