.shop-cart {
  @media (min-width: 768px) {
      -webkit-appearance: none;
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(4, 0, 61, 0.07) 30%
    );
    padding-top: 50px;
  }

  .woocommerce p .wc-backward {
    @extend .primary-btn;
    @extend .primary-btn--back;
  }

  .actions {
    padding-right: 0 !important;
    @media (min-width: 992px) {
      padding-right: 220px !important;
    }
    @media (min-width: 1200px) {
      padding-right: 260px !important;
    }
    @media (min-width: 1440px) {
      padding-right: 420px !important;
    }
    @media (min-width: 1600px) {
      padding-right: 380px !important;
    }
    @media (min-width: 1800px) {
      padding-right: 420px !important;
    }
  }
  .actions div.coupon {
    width: 100%;

    @media (min-width: 992px) {
      width: 400px;
    }
  }

  .actions div.coupon input {
    width: 60% !important;
    border-radius: 5px;
    padding: 4px;
  }

  .actions div.coupon button {
    width: 38% !important;
    border-radius: 0 !important;
    background-color: transparent;
    border-bottom: none !important;
    text-transform: uppercase;
    color: $color__company-primary-light;
  }

  .actions .button {
    border-radius: 0 !important;
    background-color: transparent !important;
    border-bottom: none !important;
    text-transform: uppercase;
    color: $color__company-primary !important;
    text-align: end;
    margin-right: 0 !important;
    @media (min-width: 992px) {
      width: 38% !important;
    }
  }

  input#submit:disabled[disabled],
  .woocommerce a.button.disabled,
  .woocommerce a.button:disabled,
  .woocommerce a.button:disabled[disabled],
  .woocommerce button.button.disabled,
  .woocommerce button.button:disabled,
  .woocommerce button.button:disabled[disabled],
  .woocommerce input.button.disabled,
  .woocommerce input.button:disabled,
  .woocommerce input.button:disabled[disabled] {
    background-color: transparent;
    color: $color__company-primary !important;
  }
  // Cart table
  table {
    margin-top: 20px !important;
    overflow: hidden;
    background-color: white;
    -webkit-appearance: none;
    box-shadow: 0px 3px 6px rgba(4, 0, 61, 0.1);
  }

  .woocommerce a.button.alt {
    @extend .primary-btn;
    width: auto;
  }


  .woocommerce .wc-proceed-to-checkout {
    display: flex;
    justify-content: flex-end;
  }

  .woocommerce .woocommerce-cart-form table.shop_table {
    border-radius: 10px;
  }
  .woocommerce table.shop_table td {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: white !important;
  }

  .woocommerce table.shop_table td:first-child {
    padding-left: 20px;

    @media (min-width: 992px) {
      padding-left: 40px;
    }

    @media (min-width: 1200px) {
      padding-left: 100px;
      padding-right: 40px;
    }
  }

  .woocommerce table.shop_table td:last-child {
    padding-right: 100px;

    @media (min-width: 992px) {
      padding-right: 80px;
    }

    @media (min-width: 1800px) {
      padding-right: 110px;
    }
  }

  .woocommerce table.shop_table th:last-child {
    padding-right: 100px;
    @media (min-width: 992px) {
      padding-right: 80px;
    }

    @media (min-width: 1800px) {
      padding-right: 110px;
    }
  }

  .woocommerce table.shop_table th {
    font-size: 1.4rem;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .woocommerce table.shop_table td span,
  .woocommerce table.shop_table td bdi {
    font-size: 1.15rem;
  }
  .woocommerce table.shop_table td span {
    padding-right: 5px;
  }

  .woocommerce table.shop_table th.product-name {
    @media (min-width: 992px) {
      padding-left: 40px;
    }
  }
  .woocommerce table.shop_table td.product-name {
    @media (min-width: 992px) {
      padding-left: 40px;
    }
  }
  .woocommerce table.shop_table td.product-name a {
    font-size: 1.4rem;
  }
  .woocommerce table.shop_table td.product-price {
    font-weight: 600;
  }

  .woocommerce table.shop_table td.product-remove {
    width: 0.5rem;
  }

  .woocommerce table.shop_table td.product-subtotal {
    font-weight: 600;
  }

  .woocommerce table.shop_table td.product-price {
    font-weight: 600;
  }

  .woocommerce table.shop_table td.product-thumbnail {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 80px !important;
    height: 80px !important;
  }
  .woocommerce table.shop_table td.product-thumbnail img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  .woocommerce .quantity .qty {
    width: 3rem;
    border-radius: 3px;
    border-color: $color__light-gray;
  }

  .woocommerce table.shop_table td.product-remove a {
    color: white !important;
  }
  .woocommerce table.shop_table td.product-remove :hover {
    transform: scale(1.1);
    background-color: transparent;
  }
  .woocommerce table.shop_table td.product-remove a:link {
    color: white !important;

    position: relative;
  }

  .woocommerce table.shop_table td.product-remove a::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-image: url("/wp-content/themes/webcommitment-premium-shop-theme/img/close.svg");
    display: block;
    top: 5px;
  }

  .woocommerce .cart_totals {
    h2 {
      font-size: 3rem;
      margin-bottom: 0;
      margin-top: 30px;
    }
  }
  .woocommerce table.shop_table tbody:first-child tr th {
    padding-left: 40px;
  }
}
