.checkout-shop {
  @media (min-width: 768px) {
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 50%, rgba(4, 0, 61, 0.07) 100%);
    table {
      border-radius: 10px !important;
      overflow: hidden;
      background-color: white;
      box-shadow: 0px 3px 6px rgba(4, 0, 61, 0.1);
    }
  }

  .woocommerce-billing-fields__field-wrapper,
  .woocommerce-additional-fields {
    @media (min-width: 992px) {
      padding-right: 40px;
      margin-bottom: 50px;
    }
  }

  .woocommerce-checkout h3 {
    margin-top: 50px;
    margin-bottom: 20px;

    @media (min-width: 992px) {
      margin-bottom: 30px;
      margin-top: 20px;
    }
  }

  // billing details fields
  .woocommerce-billing-fields__field-wrapper p {
    position: relative;
    padding: 5px;
    width: 100%;
  }

  .woocommerce-billing-fields__field-wrapper .form-row-first,
  .woocommerce-billing-fields__field-wrapper .form-row-last {
    width: 50% !important;
  }

  .woocommerce-billing-fields__field-wrapper span {
    width: 100%;
  }

  .woocommerce-billing-fields__field-wrapper input {
    padding: 15px;
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 3px 6px rgba(4, 0, 61, 0.1);
  }

  .woocommerce-billing-fields__field-wrapper input::placeholder {
    visibility: hidden;
  }

  .woocommerce-billing-fields__field-wrapper label {
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 1.1rem;
    font-weight: 600;
    color: $color__gray;
  }

  //Choose country field
  .woocommerce-billing-fields__field-wrapper #billing_country_field {
    position: relative;
    border: none !important;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 10px 15px 15px 8px;
    margin-left: 4px;
    width: 98%;
    border: none;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 3px 6px rgba(4, 0, 61, 0.1);

    @media (min-width: 992px) {
      margin-left: 5px;
      width: 98%;
    }
  }

  .woocommerce-billing-fields__field-wrapper #billing_country_field select {
    border: none !important;
  }
  .woocommerce-billing-fields__field-wrapper #billing_country_field p {
    padding-top: 0;
  }
  .woocommerce-billing-fields__field-wrapper #billing_country_field span {
    border: none !important;
  }

  .woocommerce-checkout #payment div.payment_box {
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 3px 6px rgba(4, 0, 61, 0.1);
  }
  .woocommerce-checkout #payment div.payment_box::before {
    display: none;
  }

  .woocommerce-checkout ul li input {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -1px;
      background-color: rgb(255, 255, 255);
      box-shadow: 0px 3px 6px rgba(4, 0, 61, 0.1);
      width: 15px;
      height: 15px;
      border-radius: 50%;
    }
  }

  .woocommerce-checkout ul li input {
    &:checked {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -1px;
        background-color: $color__company-primary;
        box-shadow: 0px 3px 6px rgba(4, 0, 61, 0.1);
        border: 2px solid white;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        z-index: 4;
      }
    }
  }

  .woocommerce-checkout ul li input {
    border: 3px solid red;
  }
  // country selection
  .woocommerce-checkout .selection .select2-selection {
    height: 25px;
  }

  .woocommerce-checkout .selection .select2-selection span {
    font-size: 1.1rem;
    background-color: white;
    padding: 0 0 3px;
  }

  .woocommerce-checkout .selection .select2-selection__rendered {
    font-weight: 300;
  }

  // additional information field
  .woocommerce-additional-fields .form-row {
    display: flex;
    flex-direction: column;
  }

  .woocommerce-additional-fields p {
    position: relative;
  }

  .woocommerce-additional-fields .form-row label {
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 1.1rem;
    font-weight: 600;
    color: $color__gray;
  }

  .woocommerce-additional-fields .form-row span {
    box-shadow: 0px 3px 6px rgba(4, 0, 61, 0.1);
    border-radius: 10px;
  }

  .woocommerce-additional-fields .form-row textarea {
    border: none !important;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 15px;
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 3px 6px rgba(4, 0, 61, 0.1);
  }

  .woocommerce-additional-fields .form-row textarea::placeholder {
    visibility: hidden;
  }

  .woocommerce-additional-fields .form-row label span {
    display: none;
  }

  .woocommerce table.shop_table th,
  .woocommerce table.shop_table td {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
  }

  .woocommerce .woocommerce-checkout-payment ul li {
    color: $color__company-primary;
  }

  .woocommerce .woocommerce-checkout-payment ul li::before,
  .woocommerce .woocommerce-checkout-payment ul li::after,
  .woocommerce-checkout #payment ul.payment_methods li:not(.woocommerce-notice)::before {
    display: none;
    visibility: none;
  }

  .woocommerce-checkout #payment ul.payment_methods li {
    background-color: white;
  }

  .woocommerce .woocommerce-checkout-payment button {
    @extend .primary-btn;
    margin-bottom: 10px;
  }
  .woocommerce .woocommerce-checkout-payment {
    box-shadow: 0px 3px 6px rgba(4, 0, 61, 0.1);
    border-radius: 10px;
  }

  .woocommerce-checkout #payment {
    background: none;
    border-radius: 10px;
    background-color: white;
    padding: 0 10px;
  }

  .woocommerce .woocommerce-checkout-payment .wc_payment_methods li label {
    font-weight: 600;
    font-size: 1.3rem;
  }

  .woocommerce .woocommerce-checkout-payment .form-row {
    display: flex;
    justify-content: flex-end;
  }

  .woocommerce .woocommerce-checkout-payment .form-row label {
    width: 100%;
    align-self: flex-start;
  }

  .woocommerce .woocommerce-checkout-payment .form-row .alt {
    align-self: flex-end;
    float: none;
  }
  .woocommerce .woocommerce-checkout-payment .woocommerce-terms-and-conditions-link {
    font-weight: 600;
    border-bottom: 1px solid $color__company-primary;
  }

  .woocommerce .woocommerce-checkout-payment .woocommerce-privacy-policy-text {
    padding: 10px;
  }

  .woocommerce ul.order_details {
    padding-left: 0;
  }

  .woocommerce ul.order_details li {
    font-size: 0.8rem;
    margin-bottom: 10px;
  }

  .woocommerce ul.order_details li::before {
    display: none;
    content: none;
  }
}

.woocommerce-notice {
  padding: 50px 0;
}

.woocommerce .woocommerce-customer-details .woocommerce-customer-details--phone,
.woocommerce .woocommerce-customer-details .woocommerce-customer-details--email {
  font-size: 1rem;
}

.woocommerce form .form-row span.optional {
  visibility: hidden;
}

// for hide placeholder on click in billing  form
.woocommerce .hide-placeholder {
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
}

.woocommerce .woocommerce-Price-amount bdi {
  margin-right: 10px!important;
}