.home-banner {
  margin-top: 0;
  position: relative;
  min-height: 800px;
  height: auto;
  width: 100%;
  overflow: hidden;
  background-image: conic-gradient(from 60deg, #1d186e 50%, #120e52 0% 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 200px;

  @media (min-width: 576px) {
    min-height: 600px;
  }

  @media (min-width: 768px) {
    min-height: 500px;
  }

  @media (min-width: 992px) {
    padding-top: 50px;
    min-height: 600px;
    height: 700px;
  }

  @media (min-width: 1200px) {
    padding-top: 0px;
    min-height: 600px;
    height: 700px;
  }

  &__carousel {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    // background-color: $color__company-primary;
  }
  &__carousel-content {
    // background-color: $color__company-primary;
  }
  &__carousel-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    min-height: 700px;
    height: 100%;
    margin: 0 auto;
    background-color: $color__company-primary;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    color: white;
    opacity: 1;

    @media (min-width: 576px) {
      width: 75%;
      padding: 50px;
      min-height: 650px;
    }

    @media (min-width: 768px) {
      width: 70%;
      min-height: 500px;
    }

    @media (min-width: 992px) {
      min-height: 500px;
      width: 60%;
      padding: 40px 60px;
      height: 450px;
    }

    @media (min-width: 1200px) {
      padding: 50px 70px;
      width: 48%;
      height: 500px;
    }

    h3 {
      transition: all 0.6s cubic-bezier(0.8, 0.1, 0.8, 1);
      opacity: 0;
      transform: rotateX(70deg);
      margin-bottom: 50px;
      color: $color__company-primary;
    }

    h5 {
      font-size: 1.3rem;
      transition: all 0.8s cubic-bezier(0.3, 0.1, 0.8, 1);
      opacity: 0;
      color: $color__company-primary;
    }

    div {
      font-style: italic;
      transition: all 0.5s cubic-bezier(0.8, 0.1, 0.8, 1);
      opacity: 0;
      color: $color__company-primary;
    }
  }

  &__carousel-nav {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;

    @media (min-width: 992px) {
      bottom: 0;
      top: initial;
    }

    .carousel-control-prev,
    .carousel-control-next {
      position: relative;
      width: 32px;
      height: 32px;
      background-color: $color__company-primary;
      background-size: 50%;
      background-position: center;
      background-repeat: no-repeat;
      transition: opacity 0.25s ease-in-out;
    }

    .carousel-control-prev {
      background-image: url("/wp-content/themes/webcommitment-premium-shop-theme/img/left-arrow.svg");
      border-right: 0.5px solid rgba(255, 255, 255, 0.33);
      padding-right: 2px;
      border-bottom-left-radius: 3px;

      @media (min-width: 992px) {
        border-bottom-left-radius: 0;
        border-top-left-radius: 3px;
      }
    }

    .carousel-control-next {
      border-left: 0.5px solid rgba(255, 255, 255, 0.33);
      right: 0;
      background-image: url("/wp-content/themes/webcommitment-premium-shop-theme/img/right-arrow.svg");
    }
  }

  &__carousel-indicators {
    .active {
      -webkit-box-shadow: 0px 0px 1px 4px rgba(255, 255, 255, 0.3);
      box-shadow: 0px 0px 1px 4px rgba(255, 255, 255, 0.3);
    }

    li {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      margin-right: 5px;
      // border: 1px solid rgba(255,255,255,0.5);
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}

.carousel-fade .carousel-item {
  opacity: 0.8;
  transition-duration: 0.6s;
  transition-property: opacity;
}
