.home-categories {
  min-height: 800px;
  display: flex;
  align-items: center;
  padding: 50px 0;
  background-color: $color__light-gray;
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 40%, rgba(4, 0, 61, 0.15) 100%);

  @media (min-width: 992px) {
    padding: 100px 0;
  }

  &__right {
    display: flex;
    flex-direction: column;
    margin-left: -15px;
    padding-top: 50px;
    padding-right: 20px;
    min-height: 100%;
    justify-content: center;

    @media (min-width: 576px) {
      margin-left: -15px;
    }

    @media (min-width: 768px) {
      margin-bottom: 50px;
      margin-left: -10px;
    }

    @media (min-width: 992px) {
      padding-top: 0;
      margin-left: -10px;
    }

    @media (min-width: 1200px) {
      margin-left: -10px;
    }
    @media (min-width: 1440px) {
      margin-left: 25px;
    }
    @media (min-width: 1600px) {
      margin-left: -15px;
    }

    h2 {
      margin: 0;
      opacity: 0;
      transition: all 0.8s cubic-bezier(0.8, 0.1, 0.8, 1);
      transform: rotateX(50deg);
      padding-bottom: 20px;
    }

    h5 {
      font-size: 1.3rem;
      opacity: 0;
      text-transform: uppercase;
      font-weight: bold;
      transition: all 0.8s cubic-bezier(0.8, 0.1, 0.8, 1);
    }
    div {
      p {
        opacity: 0;
        transition: all 0.5s cubic-bezier(0.8, 0.1, 0.8, 1);
        margin-bottom: 50px;
      }
      span {
        p {
          opacity: 0;
          transition: opacity 0.2s cubic-bezier(0.8, 0.1, 0.8, 1);
          font-size: 1rem;
        }
      }
    }
  }

  &__left {
    display: flex;
    justify-content: center;
    padding-left: 0px;

    @media (min-width: 568px) {
    }
    @media (min-width: 768px) {
      padding-left: 0px;
    }
    @media (min-width: 992px) {
      justify-content: flex-start;
      padding-left: 5px;
    }
    @media (min-width: 1200px) {
      padding-left: 5px;
    }
    @media (min-width: 1440px) {
      padding-left: 45px;
    }
    @media (min-width: 1600px) {
      padding-left: 5px;
    }

    h5 {
      letter-spacing: 0;
    }

    p {
      font-size: 1.1rem;
    }
  }

  &__item {
    background-color: white;
    box-shadow: 0px 3px 6px rgba(4, 0, 61, 0.1);
    border: none;
    margin: 50px 80px 0px 80px;
    outline: none;
    text-align: center;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    border-radius: 10px;
    opacity: 0;
    height: auto;
    padding-bottom: 50px;

    &:first-child {
      transition: opacity 0.5s cubic-bezier(0.8, 0.1, 0.8, 1) 0.1s;
    }
    &:nth-child(2) {
      transition: opacity 0.5s cubic-bezier(0.8, 0.1, 0.8, 1) 0.4s;
    }
    &:nth-child(3) {
      transition: opacity 0.5s cubic-bezier(0.8, 0.1, 0.8, 1) 0.6s;
    }
    &:last-child {
      transition: opacity 0.5s cubic-bezier(0.8, 0.1, 0.8, 1) 0.9s;
    }
    @media (min-width: 576px) {
      margin: 50px 150px 0px 150px;
    }

    @media (min-width: 768px) {
      margin: 10px 30px 40px 30px;
    }

    @media (min-width: 992px) {
      margin: 10px 30px 40px 10px;
    }
  }

  &__card {
    border-radius: 5px;
    overflow: hidden;
    height: 100%;
  }

  &__thumbnail-wrapper {
    height: 50vh;
    max-height: 50vh;
    overflow: hidden;
    @media (min-width: 768px) {
      height: 35vh;
      max-height: 35vh;
    }
    @media (min-width: 1440px) {
      height: 35vh;
      max-height: 35vh;
    }

    img {
      border-radius: 5px 5px 0 0;
      object-fit: cover;
      height: 100%;
      width: 100%;
      max-width: 100%;
    }
  }

  &__content-wrapper {
    background-color: white;
    position: relative;
    padding: 30px 20px 100px;
    text-align: start;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;

    @media (min-width: 1200px) {
      padding: 35px 40px 50px 40px;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      right: 0px;
      top: 120px;
      width: 100%;
      height: 100px;
      background-image: linear-gradient(
        to top,
        rgba(255, 255, 255, 1),
        rgba(255, 255, 255, 0.9),
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.2)
      );
    }
  }
}
