.single-product-wrapper {
  height: auto;
  position: relative;

  @media (min-width: 768px) {
    &::after {
      content: "";
      position: absolute;
      width: 50%;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(
        180deg,
        rgba(4, 0, 61, 0.08) 1%,
        rgba(255, 255, 255, 1) 100%
      );
      z-index: -1;
    }
  }

  &__content {
    position: relative;
    padding: 50px 0;
  }

  &__image-wrapper {
    @media (min-width: 992px) {
      margin-right: 50px;
    }
    @media (min-width: 1200px) {
      margin-right: 120px;
    }
    @media (min-width: 1600px) {
      margin-right: 150px;
    }
    @media (min-width: 1800px) {
      margin-right: 200px;
    }

    .woocommerce-product-gallery {
      .woocommerce-product-gallery__wrapper {
        width: 100%;
        height: auto;
      }
    }

    > div {
      margin-top: 50px !important;

      > div {
        border-radius: 10px;
        box-shadow: 0px 3px 6px rgba(4, 0, 61, 0.1);
        overflow: hidden;
      }

      ol {
        display: flex;
        justify-content: flex-start;
        padding: 20px 0px 20px 0 !important;
        li {
          &:first-of-type {
            margin-left: 0 !important;
          }
          border-radius: 5px;
          width: 24% !important;
          box-shadow: 0px 3px 6px rgba(4, 0, 61, 0.1);
          overflow: hidden;
          margin-left: 20px !important;
          img {
            border-radius: 10px !important;
            object-fit: cover;
          }
        }
      }
      figure {
        &:first-child {
          padding-bottom: 2%;
        }
      }
    }

    .product-item__discount {
      top: 70px;
      left: 20px;
      width: 60px;
    }
  }

  &__details {
    margin-top: 40px;

    @media (min-width: 992px) {
      padding-left: 10px;
    }
    @media (min-width: 1200px) {
      padding-left: 40px;
    }
    @media (min-width: 1600px) {
      padding-left: 40px;
    }
    @media (min-width: 1800px) {
      padding-left: 60px;
    }

    h2 {
      margin-bottom: 0;
    }

    &--bottom {
      h2 {
        font-size: 1.4rem;
      }
      ul {
        li {
          font-size: 1.2rem;
          font-weight: 600;

        }
      }
    }

    .quantity input {
      border-radius: 5px;
      margin-right: 5px;
    }
    .woocommerce-product-rating {
      .star-rating {
        color: $color__background-ins;
      }
    }
  }

  &__reviews {
    padding: 50px 0;
    background-color: rgba(4, 0, 61, 0.07);
    .product-reviews {
      .col-md-6 {
        padding-left: 0;
      }
    }
    .commentlist {
      list-style-type: none;
      padding: 0px;
      width: 100%;
      border: none;
      border-radius: 10px;
      background-color: white;
      box-shadow: 0px 3px 6px rgba(4, 0, 61, 0.1);
      li {
        border-bottom: 2px solid $color__dark-gray;
        padding: 20px 20px 10px 20px;
        @media (min-width: 992px) {
          padding: 40px 40px 20px 40px;
        }
        .comment_container {
          display: flex;
          img {
            display: none;
          }
          .comment-text {
            display: flex;
            flex-wrap: wrap;
            .description {
              width: 100%;
              p {
                display: -webkit-box;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;
                overflow: hidden;
              }
            }
            .star-rating {
              margin-top: 5px;
              margin-right: 10px;

              span {
                color: $color__background-ins;
              }
            }
            p.meta {
              strong {
                font-size: 1.1rem;
              }
            }
          }
        }
      }
    }

    // comment form

    #review_form_wrapper {
      margin-left: 0px;
      @media (min-width: 768px) {
        margin-left: 15px;
      }
      @media (min-width: 992px) {
        margin-left: 25px;
      }
      @media (min-width: 1200px) {
        margin-left: 70px;
      }
      @media (min-width: 1600px) {
        margin-left: 90px;
      }
    }
    .comment-notes {
      display: none;
      span {
        font-size: 1.2rem;
      }
    }
    .comment-reply-title {
      @extend h2;
    }
    .woocommerce-Reviews-title {
      margin-top: 5px;
      margin-bottom: 20px;
    }
    .woocommerce-Reviews-title span {
      @extend h2;
    }
    form#commentform.comment-form {
      padding-top: 10px;
      p {
        position: relative;
        label {
          letter-spacing: 0rem;
          position: absolute;
          top: 15px;
          left: 20px;
          font-size: 1.1rem;
          font-weight: 600;
          color: $color__text-input;

          @media (min-width: 992px) {
            left: 40px;
          }
        }
        input,
        textarea {
          letter-spacing: 0rem;
          padding: 15px;
          width: 100%;
          border: none;
          border-radius: 10px;
          background-color: white;
          box-shadow: 0px 3px 6px rgba(4, 0, 61, 0.1);
        }
      }

      div.comment-form-rating {
        position: relative;
        label {
          position: absolute;
          top: 15px;
          left: 120px;
          font-size: 1.1rem;
          font-weight: 600;
          color: $color__text-input;
          z-index: 3;
          @media (min-width: 992px) {
            left: 140px;
          }
        }
        p {
          padding: 15px;
          width: 100%;
          border: none;
          border-radius: 10px;
          background-color: white;
          box-shadow: 0px 3px 6px rgba(4, 0, 61, 0.1);
        }
        .stars {
          padding: 15px;

          @media (min-width: 992px) {
            padding: 15px 15px 15px 35px;
          }
          span {
            a {
              color: $color__background-ins;
            }
          }
        }
      }

      p.comment-form-cookies-consent {
        display: flex;
        padding-top: 20px;
        label {
          position: relative;
          top: -5px;
          left: 10px;
          color: $color__company-primary;
          font-weight: 400;
        }
      }

      input#wp-comment-cookies-consent {
        width: auto;
      }

      p.form-submit {
        width: auto;
        text-align: end;

        .submit-wrapper {
          position: relative;
          &:after {
            position: absolute;
            content: "";
            right: 0;
            top: 0;
            background-image: url("/wp-content/themes/webcommitment-premium-shop-theme/img/right-arrow.svg");
            background-size: 16px 13px;
            background-repeat: no-repeat;
            background-position: center;
            width: 45px;
            height: 100%;
            overflow: hidden;
            border-left: 1px solid rgba(255, 255, 255, 0.33);
          }
          &:hover {
            &:before {
              transform: translateY(0%);
              opacity: 1;
            }

            &:after {
              animation: BackgroundPositionLeftRight 1.6s infinite;
            }
          }

          input {
            width: auto;
          }
        }
      }
    }
  }

  &__related,
  &__upsell {
    background-color: white;

    ul.products {
      display: flex;
      flex-wrap: wrap !important;
    }

    li.type-product {
      position: relative;
      box-shadow: 0px 3px 6px rgba(4, 0, 61, 0.1);
      border-radius: 10px;
      margin-bottom: 50px;
      background-color: white;
      margin-right: 0;
      position: relative;
      width: 90% !important;
      @media (min-width: 768px) {
        width: 28% !important;
      }

      @media (min-width: 1200px) {
        width: 22% !important;
      }

      .woocommerce-loop-product {
        &__title {
          font-size: 1.25rem !important;
          padding: 20px 0px 0 40px !important;
          position: relative;
        }

        &__link {
          img {
            border-radius: 10px 10px 0 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            max-width: 100%;
          }
          .star-rating {
            display: none;
          }
        }
      }
      .price {
        padding-left: 40px !important;
        padding-bottom: 20px !important;
        display: flex !important;
        align-items: baseline;
        justify-content: flex-end;
        flex-direction: row-reverse;
        font-size: 2rem !important;
      }

      .woocommerce ul.products li.product .price {
        color: $color__company-primary;
      }
      .price .woocommerce-Price-amount bdi {
        font-size: 2rem;
        font-weight: 600;
        padding-right: 15px;
        color: $color__company-primary;
      }

      .price ins .woocommerce-Price-amount bdi span,
      .price ins .woocommerce-Price-amount bdi {
        color: $color__company-quaternary;
      }

      .price .woocommerce-Price-amount bdi span {
        font-size: 2rem;
        font-weight: 600;
      }

      .price span.woocommerce-Price-amount ins span {
        color: $color__company-tertiary;
        opacity: 1;
        font-size: 2rem !important;
        font-weight: 600;
      }

      // discounted price
      .price del span.woocommerce-Price-amount bdi {
        color: $color__company-primary !important ;
        text-decoration: line-through;
        opacity: 1 !important;
        font-size: 1.25rem;
        font-weight: 600;
      }
      .price del span.woocommerce-Price-amount.amount bdi span {
        color: $color__company-primary-light !important;
        font-size: 1.25rem;
        font-weight: 600;
      }
    }

    span.onsale {
      position: absolute;
      top: 25px !important;
      left: 25px !important;
      background: linear-gradient(
        to right,
        $color__primary-btn-left 0%,
        $color__primary-btn-right
      );
      color: #fff;
      padding: 6px 10px 6px 10px;
      line-height: 1rem;
      font-size: 1rem;
      font-weight: 600;
      border-radius: 5px;
      min-height: auto;
    }

    .btn-cart-wrapper:hover {
      position: absolute;
      width: 100%;
      height: 100px;
      bottom: 0;
      background-color: rgba(255, 255, 255, 0.8);

      a.add_to_cart_button {
        @extend .primary-btn;
        @extend.primary-btn--cart;
        position: absolute;
        bottom: 40%;
        opacity: 1;
        left: 50%;
        transform: translate(-50%, 0px);
      }
    }
    .btn-cart-wrapper {
      position: absolute;
      width: 100%;
      height: 100px;
      bottom: 0;
      // font-size: 3rem
    }

    a.add_to_cart_button {
      @extend .primary-btn;
      @extend.primary-btn--cart;
      transition: all 0.5s ease-in-out;
      opacity: 0;
      position: absolute;
      bottom: 40%;
      left: 50%;
      transform: translate(-150%, 0px);
    }
  }

  &__upsell {
    padding-top: 50px;
    background-color: rgba(4, 0, 61, 0.07);
  }
}

.woocommerce .product-reviews #review_form #respond p.form-submit input {
  @extend .primary-btn;
}

.woocommerce ul.products li.product .price del {
  opacity: 1;
}
.woocommerce div.product p.price {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.woocommerce div.product p.price del {
  order: 2;
  color: $color__company-primary;
  opacity: 1;
  line-height: 2rem;
  font-weight: 600;
  span {
    bdi {
      font-size: 1.2rem;
      span {
        font-size: 1.2rem;
      }
    }
  }
}

.woocommerce div.product p.price {
  order: 2;
  color: $color__company-primary;
  opacity: 1;
  line-height: 2rem;
  font-weight: 600;
  span {
    bdi {
      font-size: 2rem;
      span {
        font-size: 2rem;
      }
    }
  }
}

.woocommerce div.product p.price ins {
  color: $color__company-quaternary;
  opacity: 1;
  padding-right: 10px;
  padding-bottom: 6px;
  font-weight: 600;
  span {
    bdi {
      font-size: 2rem;
      span {
        font-size: 2rem;
      }
    }
  }
}

.woocommerce-product-gallery__wrapper {
  > div {
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(4, 0, 61, 0.1);
  }
}
.single_add_to_cart_button {
  @extend .primary-btn;
  @extend .primary-btn--cart;
}

.woocommerce div.product form.cart .button {
  @extend .primary-btn;
  @extend .primary-btn--cart;
}

.woocommerce .products ul,
.woocommerce ul.products {
  display: flex;
  flex-wrap: nowrap;
}

.product-type-variable .woocommerce-LoopProduct-link .price {
  flex-direction: row !important;
  justify-content: flex-start !important;
}

.single-product-wrapper__related li.type-product .price span:nth-of-type(2) {
  margin-left: 10px !important;
}
